.menu{
    background: rgba(255, 153, 0,0.6);
    font-family: fantasy;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 50px;
    border-bottom: 4px solid rgb(247, 0, 255);
    z-index: 1001;
    display: flex;
    justify-content: space-between;
}

.menu-right {
    /* position: absolute;
    right: 30px; */
}
.menu-right a {
    color: rgb(255, 255, 255);
text-decoration: none;
padding: 15px;
}

.menu-left {
    color: rgb(255, 255, 255);
}
.menu-left a {
color: rgb(0, 0, 0);
text-decoration: none;
margin: 3px;
}
body {
    margin: 0px;
    background: white
}
.menu-right a:hover {
    color: #000;
}

.email {
    font-size: 30px;
}
.search {
}

.main-cards{
    padding-top:100px;
    padding-bottom: 100px;
    padding-left:20px;
    padding-right:20px;

}

.main-header {
    text-align: center;
}


.humster-card {
    border:1px solid black;
    width: 25%;
    min-width: 250px;
    padding: 15px;
    text-align:center
 ;
    border-radius: 20px;
        box-shadow: #000}
.card-button {
    color: #000 !important;
    text-decoration:none ;
    text-transform: uppercase;
    font-weight: 500;
    padding: 15px;
    margin: auto;
    border-radius: 20px;
    box-shadow: #000;
    text-align: center;

}
.card-button:hover {
    background-image:linear-gradient(0,red 0%, blue 100%);
    box-shadow: red
}
.footer {
background-image: url(https://media.alienwarearena.com/media/Polygon_uhd.jpg);
background-size: cover;
color: white;
padding: 15px;

}
.humster-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.form-text{
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    outline: none
}
.form-button{
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    outline: none;
    cursor: pointer;
}
.copyright {
    margin-top: 60px

}
.socials {
    display: flex;
}
.socials img {
width: 50px;
height:50px ;
}
.content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.content img{
    height: 400px
}
.item-window {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.item-close {
    width: 30px;
    position: absolute;
    right: 10px;
    top:10px;
    cursor: pointer;
}
.item-content {
    width: 60%;
    min-width: 500px;
    height: 400px;
    background: white;
    padding: 15px;
    position: relative;
}

.item-info {
    display: flex;
    justify-content: space-between;


}
.item-img {
    height: 300px;;
}

.item-text p {
} 
.menu-right img {
    height: 50px;
    vertical-align: middle;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .menu-icon {
        display: inline;
    }
    
    .menu-right a {
        /* display:none; */
        font-size: 20px;
        display: block;
    }
    .content {
        flex-direction: column;
        height: auto;
    }
    .mobile-menu {
        position: absolute;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: rgba(255, 153, 0,0.6);
        display: none;

    }
}